
.livro1 {
    max-width: 10%;
    max-height: 10%;
    }
    .cat {
    height: 20px;
    width: 20px;
    }
    .titulo{
        font-family: Arial;
        text-align: center;
        font-size: 40px;
        box-shadow: 0 0 5px rgb(0, 0, 0);
        color: rgb(228, 105, 207);
        text-shadow: 0 0 2px rgb(196, 173, 173);
    }

    .livro2{
        width: 10%;
        -ms-text-combine-horizontal: ;
    }
    .livro3{
        width: 10%;

        .section {font-family: Arial;
            text-align: center;
            font-size: 40px;
            box-shadow: 0 0 5px rgb(0, 0, 0);
            color: rgb(228, 105, 207);
            text-shadow: 0 0 2px rgb(196, 173, 173);


        }